/* 本文件为引用块样式设置 */
/* ================================================================= */


/* 引用基础设置 */
#write blockquote {
    color: var(--blockquote-text-color);
    background-color: var(--blockquote-bg-color);
    border-radius: var(--blockquote-bg-radius);
    font-size: var(--blockquote-text-size);
    font-family: var(--blockquote-text-font);
    margin-left: var(--blockquote-left-right-indent);
    margin-right: var(--blockquote-left-right-indent);
    padding: 10px 10px 10px 15px !important;
    box-shadow: 0 0.2rem 0.5rem #0000000d, 0 0 0.05rem #0000001a;
    position: relative;
    /* 隐藏过长的竖线 */
    overflow: hidden;
}

#write blockquote p {
    margin: .8rem 0;
}

/* 用伪元素实现引用块左侧竖线 */
#write blockquote::before {
    content: " ";
    width: var(--blockquote-left-line-default-width);
    height: 100%;
    background-color: var(--blockquote-left-line-default-color);
    position: absolute;
    top: 0;
    left: 0;
}

/* 引用块左上角图标 */
#write blockquote > *:not(h1, h2, h3, h4, h5, h6):nth-child(1)::before {
    display: var(--blockquote-top-left-icon-state);
    color: var(--blockquote-top-left-icon-color);
    font-size: var(--blockquote-top-left-icon-size);
    content: "\ec81";
    font-family: "iconfont";
    position: relative;
    top: -10px;
    left: 0px;
}

#write blockquote > ol:nth-child(1)::before {
    left: -31px;
}

#write blockquote > ul:nth-child(1)::before {
    left: -26px;
}

/* ————————————————————————————————— Admonitions 样式 ————————————————————————————————— */
#write blockquote > h1 {
    --bq-icon: var(--h1-example-blockquote-title-icon-color);
    --bq-title-bg: var(--h1-example-blockquote-title-line-bg-color);
    --bq-title: var(--h1-example-blockquote-title-color);
    --bq-glyph: "\e603";
    --bq-logo-size: var(--h1-example-blockquote-logo-size);
    --bq-logo-gap: var(--h1-example-title-and-logo-distance);
    --bq-line: var(--h1-example-blockquote-left-line-color);
}

#write blockquote > h2 {
    --bq-icon: var(--h2-question-blockquote-title-icon-color);
    --bq-title-bg: var(--h2-question-blockquote-title-line-bg-color);
    --bq-title: var(--h2-question-blockquote-title-color);
    --bq-glyph: "\e632";
    --bq-logo-size: var(--h2-question-blockquote-logo-size);
    --bq-logo-gap: var(--h2-question-title-and-logo-distance);
    --bq-line: var(--h2-question-blockquote-left-line-color);
}

#write blockquote > h3 {
    --bq-icon: var(--h3-warning-blockquote-title-icon-color);
    --bq-title-bg: var(--h3-warning-blockquote-title-line-bg-color);
    --bq-title: var(--h3-warning-blockquote-title-color);
    --bq-glyph: "\e6aa";
    --bq-logo-size: var(--h3-warning-blockquote-logo-size);
    --bq-logo-gap: var(--h3-warning-title-and-logo-distance);
    --bq-line: var(--h3-warning-blockquote-left-line-color);
}

#write blockquote > h4 {
    --bq-icon: var(--h4-quote-blockquote-title-icon-color);
    --bq-title-bg: var(--h4-quote-blockquote-title-line-bg-color);
    --bq-title: var(--h4-quote-blockquote-title-color);
    --bq-glyph: "\e626";
    --bq-logo-size: var(--h4-quote-blockquote-logo-size);
    --bq-logo-gap: var(--h4-quote-title-and-logo-distance);
    --bq-line: var(--h4-quote-blockquote-left-line-color);
}

#write blockquote > h5 {
    --bq-icon: var(--h5-tips-blockquote-title-icon-color);
    --bq-title-bg: var(--h5-tips-blockquote-title-line-bg-color);
    --bq-title: var(--h5-tips-blockquote-title-color);
    --bq-glyph: "\e605";
    --bq-logo-size: var(--h5-tips-blockquote-logo-size);
    --bq-logo-gap: var(--h5-tips-title-and-logo-distance);
    --bq-line: var(--h5-tips-blockquote-left-line-color);
}

#write blockquote > h6 {
    --bq-icon: var(--h6-expand-blockquote-title-icon-color);
    --bq-title-bg: var(--h6-expand-blockquote-title-line-bg-color);
    --bq-title: var(--h6-expand-blockquote-title-color);
    --bq-glyph: "\e67b";
    --bq-logo-size: var(--h6-expand-blockquote-logo-size);
    --bq-logo-gap: var(--h6-expand-title-and-logo-distance);
    --bq-line: var(--h6-expand-blockquote-left-line-color);
}

#write blockquote > :is(h1, h2, h3, h4, h5, h6):first-child {
    font-family: var(--admonitions-blockquote-title-font);
    font-size: var(--admonitions-blockquote-title-size) !important;
    margin: -10px -10px -10px -15px !important;
    padding: 10px 10px 10px 15px !important;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-weight: var(--all-headline-weight, bold) !important;
    color: var(--bq-icon) !important;
    background-color: var(--bq-title-bg);
}

#write blockquote > :is(h1, h2, h3, h4, h5, h6):first-child span {
    color: var(--bq-title) !important;
}

#write blockquote > h2:first-child span {
    background-image: none;
    padding: 0;
}

/* 增加标题与文本间距 */
#write blockquote > :is(h1+p, h2+p, h3+p, h4+p, h5+p, h6+p) {
    margin-top: var(--admonitions-blockquote-title-text-distance);
}

/* 引用样式块的左侧竖线 */
#write blockquote > :is(h1, h2, h3, h4, h5, h6):first-child::after {
    content: " ";
    width: var(--admonitions-blockquote-left-line-width);
    height: 10000px;
    position: absolute !important;
    top: 0;
    left: 0;
    background-color: var(--bq-line) !important;
}

/* 图标 */
#write blockquote > :is(h1, h2, h3, h4, h5, h6):first-child::before,
#write blockquote > :is(h1, h2, h3, h4, h5, h6).md-focus::before {
    font-family: "iconfont" !important;
    position: relative;
    top: 0px;
    left: 0px;
    line-height: 1;
    content: var(--bq-glyph) !important;
    font-size: var(--bq-logo-size) !important;
    color: var(--bq-icon) !important;
    margin-right: var(--bq-logo-gap);
}
