/* 本文件显示代码块对应编程语言 */
/* ================================================================= */


/* 未单独列出的语言直接显示 lang 原文。
   与下面的别名特异性相同，必须放在最前面。 */
pre[lang]:after {
    content: attr(lang);
}

pre[lang="txt"]:after {
    content: "TXT";
}

pre[lang="apl"]:after {
    content: "APL";
}

pre[lang="asciiarmor"]:after {
    content: "ASCII-Armor";
}

pre[lang="asp"]:after {
    content: "ASP";
}

pre[lang="assembly"]:after {
    content: "Assembly";
}

pre[lang="bash"]:after {
    content: "Bash";
}

pre[lang="basic"]:after {
    content: "BASIC";
}

pre[lang="c#"]:after,
pre[lang="csharp"]:after {
    content: "C#";
}

pre[lang="c++"]:after,
pre[lang="cpp"]:after {
    content: "C++";
}

pre[lang="cassandra"]:after {
    content: "Cassandra";
}

pre[lang="ceylon"]:after {
    content: "Ceylon";
}

pre[lang="clike"]:after {
    content: "C-like";
}

pre[lang="clojure"]:after {
    content: "Clojure";
}

pre[lang="cobol"]:after {
    content: "COBOL";
}

pre[lang="coffeescript"]:after {
    content: "CoffeeScript";
}

pre[lang="commonlisp"]:after {
    content: "Common Lisp";
}

pre[lang="crystal"]:after {
    content: "Crystal";
}

pre[lang="css"]:after {
    content: "CSS";
}

pre[lang="cypher"]:after {
    content: "Cypher";
}

pre[lang="cython"]:after {
    content: "Cython";
}

pre[lang="dart"]:after {
    content: "Dart";
}

pre[lang="diff"]:after {
    content: "Diff";
}

pre[lang="django"]:after {
    content: "Django";
}

pre[lang="dockerfile"]:after,
pre[lang="docker"]:after {
    content: "Dockerfile";
}

pre[lang="ejs"]:after {
    content: "EJS";
}

pre[lang="embeddedjs"]:after {
    content: "Embedded JS";
}

pre[lang="erb"]:after {
    content: "ERB";
}

pre[lang="Fsharp"]:after {
    content: "F#";
}

pre[lang="flow"]:after {
    content: "Flow";
}

pre[lang="forth"]:after {
    content: "Forth";
}

pre[lang="fortran"]:after {
    content: "Fortran";
}

pre[lang="gas"]:after {
    content: "Gas";
}

pre[lang="gfm"]:after {
    content: "GFW";
}

pre[lang="gherkin"]:after {
    content: "Gherkin";
}

pre[lang="glsl"]:after {
    content: "GLSL";
}

pre[lang="go"]:after,
pre[lang="golang"]:after {
    content: "Go";
}

pre[lang="html"]:after {
    content: "HTML";
}

pre[lang="java"]:after {
    content: "Java";
}

pre[lang="javascript"]:after,
pre[lang="JS"]:after,
pre[lang="js"]:after {
    content: "JavaScript";
}

pre[lang="json"]:after {
    content: "JSON";
}

pre[lang="jsx"]:after {
    content: "JSX";
}

pre[lang="kotlin"]:after {
    content: "Kotlin";
}

pre[lang="Latex"]:after {
    content: "LaTeX";
}

pre[lang="lua"]:after {
    content: "Lua";
}

pre[lang="markdown"]:after,
pre[lang="md"]:after {
    content: "Markdown";
}

pre[lang="objc"]:after,
pre[lang="objective-c"]:after {
    content: "Objective-C";
}

pre[lang="perl6"]:after {
    content: "Perl 6";
}

pre[lang="php"]:after {
    content: "PHP";
}

pre[lang="php+HTML"]:after {
    content: "PHP+HTML";
}

pre[lang="plsql"]:after {
    content: "PL/SQL";
}

pre[lang="postgresql"]:after {
    content: "PostgreSQL";
}

pre[lang="pug"]:after {
    content: "Pug";
}

pre[lang="python"]:after {
    content: "Python";
}

pre[lang="react"]:after {
    content: "React";
}

pre[lang="rst"]:after {
    content: "reStructuredText";
}

pre[lang="ruby"]:after {
    content: "Ruby";
}

pre[lang="rust"]:after {
    content: "Rust";
}

pre[lang="scala"]:after {
    content: "Scala";
}

pre[lang^="sh"]:after,
pre[lang="shell"]:after {
    content: "Shell";
}

pre[lang="smarty"]:after {
    content: "Smarty";
}

pre[lang="sql"]:after {
    content: "SQL";
}

pre[lang="squirrel"]:after {
    content: "Squirrel";
}

pre[lang="stata"]:after {
    content: "Stata";
}

pre[lang="swift"]:after {
    content: "Swift";
}

pre[lang="systemverilog"]:after {
    content: "SystemVerilog";
}

pre[lang="tiki wiki"]:after {
    content: "Tikiwiki";
}

pre[lang="tsx"]:after {
    content: "TSX";
}

pre[lang="typescript"]:after,
pre[lang="TS"]:after,
pre[lang="ts"]:after {
    content: "TypeScript";
}

pre[lang="visual basic"]:after {
    content: "Visual Basic";
}

pre[lang="vue"]:after {
    content: "Vue";
}

pre[lang="web-idl"]:after {
    content: "Web IDL";
}

pre[lang="xml"]:after {
    content: "XML";
}

pre[lang="xml-dtd"]:after {
    content: "XML DTD";
}

pre[lang="yaml"]:after,
pre[lang="yml"]:after {
    content: "YAML";
}

pre[lang="yara"]:after {
    content: "YARA";
}
